<!DOCTYPE html>
<html>
<head>
    <title>Download Results</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Download Scraped Data</h1>
        <p>Select the format to download the scraped data.</p>
        <a href="/download/zip" class="btn btn-primary">Download All as ZIP</a>
        <a href="/" class="btn btn-secondary mt-3">Back to Home</a>
    </div>
</body>
</html>
